<!--
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
-->
<!-- Copyright FUJITSU LIMITED 2016-2017 -->
<!DOCTYPE html>
<html lang="jp">
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
    <title>
        <%- t('title_mypage') %>
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sharingBusinessDemo.css" rel="stylesheet">
    <link href="/stylesheets/custom/home.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <header>
        <%- include('_layout/header',{param:param}) -%>
    </header>

    <main role="main" class="container">
        <div id="mypage_info" style="margin-top:50px;">
            <h1>マイページ</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>
                            <input type="text" name="userid" placeholder="userid" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">DisplayName</th>
                        <td>
                            <input type="text" name="display_name" placeholder="display_name" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>
                            <input type="text" name="address" placeholder="address" />
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Password</th>
                        <td>
                            <input type="password" name="password" placeholder="password" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <button value="submit" class="btn btn-primary btn-lg btn-block">更新</button>
        </div>

        <br>

    </main>


    <%- include('_layout/footer') -%>

        <!-- Portfolio Modals -->
        <!-- Use the modals below to showcase details about your portfolio projects! -->

        <!-- jQuery -->
        <script src="javascripts/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="javascripts/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="javascripts/demo.js"></script>


</body>

</html>