<!--
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
-->
<!-- Copyright FUJITSU LIMITED 2016-2017 -->
<!DOCTYPE html>
<html lang="jp">
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
    <title>
        <%- t('title_vegeHistory') %>
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/custom/home.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <header>
        <%- include('_layout/header',{param:param}) -%>
    </header>

    <main role="main" class="container">

        <br>

        <div class="row">
            <div class="col col-lg-2">
                <h2>5/12(土)</h2>
            </div>
            <div class="col " style="text-align: left">
                <div class="accordion" id="accordionExample" style="size: 75%"></div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-block btn-link" type="button" data-toggle="collapse" data-target="#collapse0001" aria-expanded="false"
                                aria-controls="two_collapseOne">
                                <h4 style="text-decoration: none">空芯菜　川津さん(あおい市大町)</h4>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse0001" class="collapse" aria-labelledby="collapse0001" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>234束</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>ををを市小川町</td>
                                    </tr>
                                    <tr>
                                        <td>500束</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>ぬぬぬ市寺町</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-block btn-link" type="button" data-toggle="collapse" data-target="#collapse0002" aria-expanded="false"
                                aria-controls="two_collapseOne">
                                <h4 style="text-decoration: none">トマト　川津さん(あおい市大町)</h4>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse0002" class="collapse" aria-labelledby="collapse0002" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>23個</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>ををを市小川町</td>
                                    </tr>
                                    <tr>
                                        <td>12個</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>ぬぬぬ市寺町</td>
                                    </tr>
                                    <tr>
                                        <td>12個</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>いいい市犬猫町</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col col-lg-2">
                <h2>5/11(金)</h2>
            </div>
            <div class="col " style="text-align: left">
                <div class="accordion" id="accordionExample" style="text-align: left; size: 75%"></div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapse0004" aria-expanded="false"
                                aria-controls="two_collapseOne">
                                <h4 style="text-decoration: none">トマト　本谷さん(あおい市大町)</h4>
                            </button>
                        </h5>
                    </div>

                    <div id="collapse0004" class="collapse" aria-labelledby="collapse0004" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>12個</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>いいい市犬猫町</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed btn-block" type="button" data-toggle="collapse" data-target="#collapse0005" aria-expanded="false"
                                aria-controls="collapseTwo">
                                <h4 style="text-decoration: none">ほうれんそう　本谷さん(あおい市大町)</h4>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse0005" class="collapse" aria-labelledby="collapse0005" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>234束</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>ををを市小川町</td>
                                    </tr>
                                    <tr>
                                        <td>500束</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>ぬぬぬ市寺町</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                <h4 style="text-decoration: none">パイナップル　川津さん(あおい市大町)</h4>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>1999</td>
                                        <td>品質　A</td>
                                        <td>あおい市大町</td>
                                        <td>いいい市犬猫町</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        </div>

    </main>


    <%- include('_layout/footer') -%>

        <!-- Portfolio Modals -->
        <!-- Use the modals below to showcase details about your portfolio projects! -->

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="/assets/js/vendor/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>


</body>

</html>