<!--
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
-->
<!-- Copyright FUJITSU LIMITED 2016-2017 -->
<!DOCTYPE html>
<html lang="jp">
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
    <title>
        <%- t('title_vegeRoute') %>
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sharingBusinessDemo.css" rel="stylesheet">
    <link href="/stylesheets/custom/home.css" rel="stylesheet">
    <link href="/stylesheets/custom/gmaps.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <header>
        <%- include('_layout/header',{param:param}) -%>
    </header>

    <main role="main" class="container">

        <!-- タイトル -->
        <div class="text-center mt-5">
            <h3>ルート探索</h3>
        </div>
        <!-- Google Maps出力 -->
        <div id="gmaps_view"></div>

        <br>
        <!-- Google Mapsで開くボタン -->
        <div id="gmaps_open">
                <button type="submit" class="btn btn-default btn-lg btn-block" onclick="url_make();">GoogleMapで開く</button>
        </div>

        <br>

    </main>


    <%- include('_layout/footer') -%>

        <!-- Portfolio Modals -->
        <!-- Use the modals below to showcase details about your portfolio projects! -->

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="./assets/js/vendor/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>

        <!-- Google Maps Custom JS-->
        <script src="/javascripts/custom/route_maps.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6vQRmMUhpH9ZD5GaCdoGMCHOTcgCZS4I&callback=initMap"></script>



</body>

</html>