<!DOCTYPE HTML>
<html>
	<head>
		<meta charset=utf8>
		<title>Google Map 出力</title>
				<!-- CSS -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="./css/custom/gmaps.css" />
	</head>
	<body>
		<div class="container">
			<div id="header-hollow" class="row">
				<div class="col-md-5">
					<p>農作物位置情報だよ</p>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-map-marker"></span>
						</span>
						<input type="text" id="address" class="form-control" value="高知県高知市" />
					</div>
				</div>
			</div><!-- /#header-hollow -->

			<div class="row">
				<div class="well well-sm">
					<div id="map-canvas"></div>
				</div>
			</div>
		</div><!-- /.container -->

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script type="text/javascript" src="./js/custom/gmaps.js" charset="utf8"></script>
		<script type="text/template" id="infowindow_template">
			<div class="well info-window">
				<div class="row">
					<span>農作物：茄子</span>
				</div>
				<div class="row">
					<span><img src="./images/nasu.jpg" width="100" /></span>
				</div>

				<div class="row">
					<span>数量：10</span>
				</div>
				<div class="row">
					<span>緯度:&nbsp;<%= latitude %></span>
				</div>
				<div class="row">
					<span>経度:&nbsp;<%= longitude %></span>
				</div>
			</div>
		</script>
	</body>
</html>